/src/main/java/ralvhe/practices/06-ObjectsClasses_Practice1/build/
/src/main/java/ralvhe/practices/06-ObjectsClasses_Practice1/nbproject/private/
/src/main/java/ralvhe/practices/06-ObjectsClasses_Practice2/06-ObjectsClasses_Practice2/build/
/src/main/java/ralvhe/practices/06-ObjectsClasses_Practice2/06-ObjectsClasses_Practice2/nbproject/private/
/src/main/java/ralvhe/practices/07-ManipulateFormat_Practice1/build/
/src/main/java/ralvhe/practices/07-ManipulateFormat_Practice1/nbproject/private/
/src/main/java/ralvhe/practices/08-Methods_Practice1/build/
/src/main/java/ralvhe/practices/08-Methods_Practice1/nbproject/private/
/src/main/java/ralvhe/practices/08-Methods_Practice2/build/
/src/main/java/ralvhe/practices/08-Methods_Practice2/nbproject/private/
/src/main/java/ralvhe/practices/08-Methods_Practice3/build/
/src/main/java/ralvhe/practices/08-Methods_Practice3/nbproject/private/
/src/main/java/ralvhe/practices/09-EncapConstructors_Practice1/build/
/src/main/java/ralvhe/practices/09-EncapConstructors_Practice1/nbproject/private/
/src/main/java/ralvhe/practices/09-EncapConstructors_Practice2/build/
/src/main/java/ralvhe/practices/09-EncapConstructors_Practice2/nbproject/private/
/src/main/java/ralvhe/practices/10-Conditions_Practice1/build/
/src/main/java/ralvhe/practices/10-Conditions_Practice1/nbproject/private/
/src/main/java/ralvhe/practices/10-Conditions_Practice2/build/
/src/main/java/ralvhe/practices/10-Conditions_Practice2/nbproject/private/
/src/main/java/ralvhe/practices/11-ArraysLoopsDates_Practice1/build/
/src/main/java/ralvhe/practices/11-ArraysLoopsDates_Practice1/nbproject/private/
/src/main/java/ralvhe/practices/11-ArraysLoopsDates_Practice2/build/
/src/main/java/ralvhe/practices/11-ArraysLoopsDates_Practice2/nbproject/private/
/src/main/java/ralvhe/practices/12-UsingInheritance_Practice1/build/
/src/main/java/ralvhe/practices/12-UsingInheritance_Practice1/nbproject/private/
/src/main/java/ralvhe/practices/12-UsingInheritance_Practice2/build/
/src/main/java/ralvhe/practices/12-UsingInheritance_Practice2/nbproject/private/
/src/main/java/ralvhe/practices/13-UsingInterfaces_Practice1/build/
/src/main/java/ralvhe/practices/13-UsingInterfaces_Practice1/nbproject/private/
/src/main/java/ralvhe/practices/13-UsingInterfaces_Practice2/build/
/src/main/java/ralvhe/practices/13-UsingInterfaces_Practice2/nbproject/private/
/src/main/java/ralvhe/practices/13-UsingInterfaces_Practice3/build/
/src/main/java/ralvhe/practices/13-UsingInterfaces_Practice3/nbproject/private/
/src/main/java/ralvhe/practices/14-Exceptions_Practice1/build/
/src/main/java/ralvhe/practices/14-Exceptions_Practice1/nbproject/private/